h1{text-align: center;}

nav {
    text-align:center;
}

nav a{
  padding:20px;
 margin: 0 15px; /* Spacing between links */
  display: inline-block; 
    text-decoration: none;
    color: #000;
}

nav a::after {
        content: ""; /* Empty content for the line */
    width: 100%; /* Full width */
            height: 2px; /* Line height */
            background: #000; /* Line color */
            bottom: -5px; /* Position below the link */
      transform: scaleX(0); /* Initially hide the line */
            transition: transform 0.3s ease; /* Smooth transition */
}

 nav a:hover::after,
        nav a.active::after {
            transform: scaleX(1); /* Show the line on hover and when active */
        }
   nav a.active {
            color: pink; /* Color for the active link */
        }
